@model bobaadmin.Models.OrderDetail
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>
}

<section class="content-header">
    <h1>
        OrderID: @ViewBag.OrderID
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="/Order">Order</a></li>
        <li class="active">Details</li>
    </ol>
</section>
<section class="invoice">
    <div class="row">
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                OrderID: <strong>@ViewBag.OrderID</strong><br>
                OrderTime: @ViewBag.OrderTime<br>
                CustomerName: @ViewBag.CustomerName<br>
                CustomerPhone: @ViewBag.CustomerPhone<br>
                TotalMoney: @ViewBag.TotalMoney<br>
                ShippingType: @ViewBag.ShippingType<br>
                Note: @ViewBag.Note<br>

            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Order Detail</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table id="orderdetail" class="table table-hover">
                        <tr>
                            <th>ItemID</th>
                            <th>ItemName</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        @foreach (var item in Model.items)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ProductID)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price) kr</td>
                            </tr>
                        }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="box-footer clearfix">
            <button class="btn btn-sm btn-info btn-flat pull-left" type="button" id="btnaccept" onclick="accept()">Accept</button>
            <button class="btn btn-sm btn-warning btn-flat pull-right" type="button" id="btncancel" onclick="myFunction()">Delete</button>
            
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#orderdetail').DataTable(
            {
            "order": [[ 0, "desc" ]]
        }
        );
    });
    function accept() {
        var x =@ViewBag.OrderID;
        
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Accept", "Order")',
                data: {
                    id: x
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Order";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
}
</script>