<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bobacha</title>
    @RenderSection("header", required: false)
    <!-- Css -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    @RenderSection("css", required: false)
</head>
<body>
    <header>
        <div class="container">
            <div class="mp-header_wrapper">
                <a href="#" class="mp-header_logo">
                    <img src="~/img/sushiwok-logo.png" alt="" />
                </a>
                @*<a href="#" class="mp-header_logo">
                    <img src="~/img/boba-logo.png" alt="" />
                </a>*@
                
                <div class="mp-header_menu">
                    <div class="mp-header_menu_list">
                        <div class="mp-header_item">
                            <a href="tel:+4799200888">
                                <img src="img/deli/call.png" alt="" />
                                Hotline: (47) 992 00 888
                            </a>
                        </div>
                        @*<div class="mp-header_item">
                    <a href="tel:02838265888">
                        <img src="img/deli/call.png" alt="" />
                        Delivery (TP.HCM): (028) 3826.5777
                    </a>
                </div>*@
                        @*<div class="mp-header_last">
                    <a href="#">
                        <img src="img/deli/vietnam.png" alt="" />
                    </a>
                    <a href="#">
                        <img src="img/deli/uk.png" alt="" />
                    </a>
                </div>*@
                    </div>
                    <nav class="mp-header_nav">
                        <ul>
                            <li>
                                <a href="/" class="hvr-underline-from-center">Home</a>
                            </li>
                            @*<li>
                        <a href="#" class="hvr-underline-from-center">GIỚI THIỆU</a>
                    </li>*@
                            <li class="active">
                                <a href="#" class="hvr-underline-from-center">Menu</a>
                            </li>
                            @*<li>
                        <a href="#" class="hvr-underline-from-center">KHUYẾN MÃI</a>
                    </li>
                    <li>
                        <a href="#" class="hvr-underline-from-center">HỆ THỐNG NHÀ HÀNG</a>
                    </li>*@
                            @*<li>
                        <a href="#" class="hvr-underline-from-center">THẺ THÀNH VIÊN</a>
                    </li>*@
                            @*<li>
                        <a href="#" class="hvr-underline-from-center">LIÊN HỆ</a>
                    </li>*@
                        </ul>
                    </nav>
                </div>
                @*<button class="mp-toggle-menu"><img src="img/deli/list.png" alt="" /></button>*@
            </div>
            <div class="mp-menu-mb">
                <div class="mp-header_menu_list">
                    <div class="mp-header_item">
                        <a href="tel:02838265888">
                            <img src="img/deli/call.png" alt="" />
                            Hotline: (028) 3826.5888
                        </a>
                    </div>
                    <div class="mp-header_item">
                        <a href="tel:02838265888">
                            <img src="img/deli/call.png" alt="" />
                            Delivery (TP.HCM): (028) 3826.5777
                        </a>
                    </div>
                    @*<div class="mp-header_last">
                    <a href="#">
                        <img src="img/deli/vietnam.png" alt="" />
                    </a>
                    <a href="#">
                        <img src="img/deli/uk.png" alt="" />
                    </a>
                </div>*@
                </div>
                <ul class="mp-menu-mb_list">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    @*<li>
                        <a href="#">
                            Giới thiệu
                        </a>
                    </li>*@
                    <li class="active">
                        <a href="#">
                            Menu
                        </a>
                    </li>
                    @*<li>
                        <a href="#">
                            Khuyến mãi
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Hệ thống nhà hàng
                        </a>
                    </li>*@
                    @*<li>
                        <a href="#">
                            Thẻ thành viên
                        </a>
                    </li>*@
                    @*<li>
                        <a href="#">
                            Liên hệ
                        </a>
                    </li>*@
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="container">
                <div class="mp-footer_social">
                    <a href="https://www.facebook.com/bubbleteaskippergata" target="_blank" class="mp-footer_social_item">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.facebook.com/sushicitywok/" target="_blank" class="mp-footer_social_item">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/sushicitywok/" target="_blank" class="mp-footer_social_item">
                        <i class="fa fa-instagram"></i>
                    </a>
                    @*<a href="#" class="mp-footer_social_item">
                        <i class="fa fa-pinterest"></i>
                    </a>
                    <a href="#" class="mp-footer_social_item">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#" class="mp-footer_social_item">
                        <i class="fa fa-youtube"></i>
                    </a>*@
                </div>
            </div>
            <div class="mp-footer_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                            @*<ul>
                            <li>
                                <a href="#">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="#">Tin tức</a>
                            </li>
                            <li>
                                <a href="#">Đối tác</a>
                            </li>
                        </ul>*@
                        </div>
                        <div class="col-sm-7 col-xs-12">
                            <p>
                                Copyright © 2020
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
   
   

    @RenderSection("Scripts", required: false)
</body>
</html>
