@using Newtonsoft.Json;
@foreach (var item in Model)
{
    <div class="col-sm-6 col-xs-12">
       
        <div class="mp-product" data-id="@item.Id">
            <input type="hidden" name="productID" value="@item.Id" />
            <a href="#" class="mp-product_img">
                <img src="~/img/@item.Images" alt="" />
            </a>
            <div class="mp-product_info">
                <div class="mp-product_code"></div>
                <h3 class="mp-product_name">
                    <a class="hvr-icon-wobble-horizontal">@item.Name</a>
                </h3>
                <div class="mp-product_text">
                    <p>@item.Description</p>
                    <p></p>
                </div>
                <div class="mp-product_price">kr @item.Price</div>
                <div class="mp-product_quality">
                    <button class="btn btn-link subitem pull-left" data-id="@item.Id" data-price="@item.Price" href="#" style="margin-right:5px"  role="button">sub</button>
                    <input class="numberitem pull-left" type="text" id="@item.Id" data-id="@item.Id" style="width:30px;margin-right:5px" readonly="readonly" value="@item.Count" placeholder="0">
                    <button class="btn btn-link additem" data-id="@item.Id" data-price="@item.Price" href="#" role="button">add</button>
                </div>
            </div>
        </div>
        @*</form>*@
    </div>
}
