@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu";
}
@model List<FrontEnd.Models.Menu>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boba</title>
    <link rel="shortcut icon" href="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Css -->
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css" />*@
    <style>
        html {
            scroll-behavior: smooth;
        }

        
    </style>
</head>
<body>
    <main id="menu-page">
        <header class="mp-header">
        </header>
        <div class="mp-banner">
            <img src="~/img/BannerMenu.png" alt="" />
        </div>
        <nav aria-label="breadcrumb" class="mp-breadcrumb clearfix">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Menu</li>
            </ol>
        </nav>
        <div class="mp-body">
            <div class="container" id="sushi">
                <div class="row" >
                    <div class="col-lg-8 col-lg-offset-2" >
                        <h1 class="mp-heading">Sushi</h1>
                        @*<div class="mp-direction">
                             <div class="mp-direction_content">
                             <button type="button" class="btn">Sushi</button>
                             <button type="button" class="btn">Bobble Tea</button>
                             </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="row" >
                @Html.Partial("~/Views/Menu/GetMenu.cshtml", Model.Where(a => a.Issushi == true))
            </div>

        </div>
        <div class="mp-body">
            <div class="container" id="bubbletea">

                <div class="row" >
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="mp-heading">Milk Tea Collection</h1>

                    </div>
                </div>
            </div>
            <div class="row" >
                @Html.Partial("~/Views/Menu/GetMenu.cshtml", Model.Where(a => a.CateID == 2))
            </div>

        </div>
        <div class="mp-body">
            <div class="container">

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="mp-heading">Iced Tea Collection</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                @Html.Partial("~/Views/Menu/GetMenu.cshtml", Model.Where(a => a.CateID == 3))
            </div>
        </div>
        <div class="mp-body">
            <div class="container">

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="mp-heading">Mustache Tea Collection</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                @Html.Partial("~/Views/Menu/GetMenu.cshtml", Model.Where(a => a.CateID == 4))
            </div>

        </div>
        <div class="mp-body">
            <div class="container">

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="mp-heading">Smoothie Tea Collection</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                @Html.Partial("~/Views/Menu/GetMenu.cshtml", Model.Where(a => a.CateID == 5))
            </div>

        </div>
        <div class="mp-banner">
            <img src="~/img/Slide.png" alt="" />
        </div>
    </main>
    @*<footer class="mp-footer">

        </footer>*@
    <script src="~/js/libs/jquery-1.11.2.min.js"></script>
    <script src="~/js/libs/bootstrap.min.js"></script>
    <script src="~/js/functions.js"></script>
</body>
</html>
